@theme {
  --color-primary-50: #f6f6f6;
  --color-primary-100: #e7e7e7;
  --color-primary-200: #d1d1d1;
  --color-primary-300: #b0b0b0;
  --color-primary-400: #888888;
  --color-primary-500: #6d6d6d;
  --color-primary-600: #5d5d5d;
  --color-primary-700: #4f4f4f;
  --color-primary-800: #454545;
  --color-primary-900: #3d3d3d;
  --color-primary-950: #000000;

  --color-primary-default: var(--color-primary-950);
  --color-primary-hover: var(--color-primary-900);
  --color-primary: var(--color-primary-default);

  --color-body: #fff;
  --color-border: #eaeaea;
  --color-light: #f6f6f6;
  --color-dark: #040404;
  --color-text: #444444;
  --color-text-dark: #040404;
  --color-text-light: #717171;

  /* === Darkmode Colors === */
  --color-darkmode-primary: #fff;
  --color-darkmode-body: #1c1c1c;
  --color-darkmode-border: #3E3E3E;
  --color-darkmode-light: #222222;
  --color-darkmode-dark: #fff;
  --color-darkmode-text: #B4AFB6;
  --color-darkmode-text-dark: #fff;
  --color-darkmode-text-light: #B4AFB6;
}