---
const { spacer } = Astro.props;
console.log(spacer);

const spacerMap: Record<string, string> = {
  xSmall: "pt-2",
  small: "pt-4",
  medium: "pt-8",
  large: "pt-16",
  xLarge: "pt-32",
  xxLarge: "pt-48",
  xxxLarge: "pt-64",
};

const spacerClass = spacerMap[spacer] ?? spacerMap["medium"];
---

{
  spacer !== "none" && (
    <div class={`spacer ${spacerClass}`}>
      <slot />
    </div>
  )
}
