---
import NavMenu from './BaseHeader.astro';
import Container from './Container.astro';
import '../styles/global.css';

const { title } = Astro.props;
---

<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
    </head>
    <body class="dark:bg-darkmode-body bg-white">
        <header>
            <NavMenu />
        </header>

        <main>
            <slot />
        </main>
    </body>
</html>
