---
import Spacer from "@components/atoms/Spacer.astro";

const { attributes, children } = Astro.props;

const { spacer } = attributes;
---

<section class="container mx-auto px-4">
  <Spacer spacer={spacer}>
    <slot />
  </Spacer>
</section>
