---
const { attributes } = Astro.props;

const toBool = (v, def = false) =>
    v === undefined ? def : v === true || v === 'true';

const toNumber = (v, def) => (v === undefined ? def : Number(v));

const { effect = 'slide' } = attributes;

const loop = toBool(attributes.loop, true);
const autoplay = toBool(attributes.autoplay, true);
const pagination = toBool(attributes.pagination, true);
const navigation = toBool(attributes.navigation, true);

const autoplaySpeed = toNumber(attributes.autoplaySpeed, 3000);
const slidesPerView = toNumber(attributes.slidesPerView, 1);
const spaceBetween = toNumber(attributes.spaceBetween, 16);
---

<div class="swiper h-screen">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <slot />
    </div>
    <!-- If we need pagination -->

    {pagination && <div class="swiper-pagination" />}

    <!-- If we need navigation buttons -->
    {
        navigation && (
            <div>
                <div class="swiper-button-prev" />
                <div class="swiper-button-next" />
            </div>
        )
    }

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
<script>
    import Swiper from 'swiper';
    import { Autoplay, Navigation, Pagination } from 'swiper/modules';
    import 'swiper/css';
    import 'swiper/css/navigation';
    import 'swiper/css/pagination';

    // init Swiper:
    const swiper = new Swiper('.swiper', {
        // configure Swiper to use modules
        modules: [Navigation, Pagination, Autoplay],
        loop: true,
        autoplay: {
            delay: 3000,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
