<a href="/" class="relative z-30 flex h-10 items-center">
    <img src="/logo-dark.svg" class="h-8 dark:hidden" alt="Logo dark" />
    <img src="/logo-light.svg" class="hidden h-8 dark:block" alt="Logo light" />
</a>
